.toaster {
    background: rgba(0,0,0, 0.3);
    position: fixed;
    top: 0;
    right: 0 ;
    bottom: 0;
    left: 0;
    z-index: 20;
}

.toaster__inner {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: grid;
    align-items: center;
}